/testi
**/backend
**/frontend
**/training
**/nginx.conf
**/rails-example-project
**/spring-example-project
**/front
**/back
**/backend-example-project
**/frontend-example-project
**/2_4
**/ml-kurkkumopo-backend
**/ml-kurkkumopo-frontend
**/ml-kurkkumopo-training
**/database
